<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
	<div id="app">
		<!-- v-model : message 데이터와 연동
			 v-if="show" : show의 값이 true인 경우 <p>태그 보여줌 -->
		<input v-model="message"><p>{{ message }}</p> <!-- 입력된 내용 동기화 -->
		<button v-on:click="show=!show">변경하기</button>
		<p v-if="show">Hello vue.js!</p> <!-- 조건실행 -->
		<p>{{ count }}번 클릭했습니다.</p>
		<button v-on:click="increment">카운트하기</button>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script>
		var app = new Vue({
			el : "#app",
			data : {
				message : '초기 메세지',
				show : true,
				count: 0
			},
			methods: {
				increment: function(){
					this.count+=1 // 다시 할당하는 처리만 합니다.
				}
			}
		})
	</script>
</body>
</html>